

.about-card i{
    font-size: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.about-card i::before{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #bfad15;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    
}
.about-card i:hover::before{
    background: #bfad15;
    color: #fdfdfd;
}

.social-item i:hover{
    color: #bfad15;
}



/* section8 */
.section8{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .section8 .trans{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color:#bfad15;
    position: relative;
    letter-spacing: 2px;
  }
  .section8 .trans::after{
   
    height: 2px;
    width: 35px;
    position: absolute;
    right: -40px;
    top: 50%;
    background: #bfad15;
    content: "";
  }
  .section8 h3{
    font-size: 48px;
    line-height: 58px;
    font-weight:700 ;
    margin: 20px 0px 40px 0px;
  }
  .sli_box .img_box{
    overflow: hidden;
    border-radius: 10px;
    transition: all 300ms ease;
    position: relative;
    max-height: 400px;
    position: relative;
  }
 
  .sli_box .img_box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 300ms ease;
  }
  
  
  .sli_box .img_box img:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
    
  }
  .sli_box:hover .icon{
    opacity: 1;
      
    transition: all 300ms ease;
    
  }
  .section8 .te{
    position: absolute;
    bottom: 35px;
    left: 50px;
    cursor: pointer;
  }
  .section8 .te p{
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: white;
    position: relative;
  }
  .section8 .te p::before{
    content: '';
    height: 3PX;
    width: 35px;
    background: #bfad15;
    position: absolute;
    top: -10px;
  
    
  }
  .section8 .te h4{
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
    color: white;
  }
  .section8 .te h4:hover{
    color:#bfad15;
  }
  .section8 .icon{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    background-color: #bfad15;
    border-radius: 5px;
  
    display: flex;
    
    align-items: center;
   
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    
    transition: all 300ms ease;
    opacity: 0;
  }
  .section8 .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1366px !important;
    margin: 0px -10px !important;
    overflow: hidden;
  }
  
  
  @media only screen and (max-width:820px){
  
    .section8 h3 {
      font-size: 46px;
      line-height: 53px;
  }
  }
  @media only screen and (max-width:567px){
    
    .section8 h3 {
      font-size: 38px;
  
  }
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #be9135 !important;
}
  /* ---x--section8--x--- */
  
  /* section10 */
.section10{
  margin-bottom: 150px;
}
.section10 .container{
  
  background-image: url(../imgs/8.jpg);
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  display: flex;

  align-items: center;

  justify-content: space-between;
  background-color: #ca1f26;
  padding: 65px 60px;
  padding-left: 90px;
  overflow: hidden;
  border-radius: 10px;
}

.section10 .container::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ca1f26;
  opacity: 0.8;
  content: "";
  pointer-events: none;
}

.section10 .container::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
  height: 220px;
  background-color:#ffbf42;
  border-right: 30px solid #ac0b12;
  content: "";
  
  transform: rotate(-45deg);

  transform-origin: right bottom;
}

.section10 .box{
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section10 .container .box h3{
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: white;
}
.section10 i{
  font-size: 90px;
  color: white;
  cursor: pointer;
}


@media only screen and (max-width:992px) {
  .section10 .box{
    flex-direction: column;
    text-align: center;
  }
  .section10 .container{
    max-width: 992px;
  }
  .section10 .container .box h3 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width:562px) {
  .section10 .container {

    padding: 65px 0px;
    padding-left: 2px;
  }
  .section10 .container .box h3 {
    font-size: 28px;
  }
}




.cc{

  display: flex;
  justify-content: center;

}
.cc img{
  width: 100px;
  margin-left: 30px;
  transition: all 1s ease;
}
.cc img:hover{
  transform: translateY(-13px);
  transition: all 1s ease;
}
h5{
  font-size: 33px;
  color: #bfad15;
  font-weight: 600;

}
@media only screen and (max-width:562px) {
  .cc img{
    width: 50px;
    
  }
}











  
  